<a ui-sref="home">Home</a> | <a ui-sref="sign-ins">Sign-in</a> | <a ui-sref="whoIsHere">Who's Here</a>

<div class="container" ng-controller="StudentsCtrl">
    <div class="row">
      <div class="col-md-6">

        <h2>Student List</h2>
        <ul>
          <li ng-repeat="item in students">
              {{item.name}}

              <button ng-click='signIn(item)' ng-show='!item.present' type='submit' class='btn btn-warning'>Sign-in</button>
              <button ng-click='signOut(item)'ng-show='item.present' type='submit' class='btn btn-danger'>Sign-out</button>

          </li>
        </ul>
      </div>
    </div>
  </div>
